main{
    background-color: #888888;
    margin: 0;
    font-family: 'Krona One', sans-serif;
}

#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.cointainer {
    padding: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
   /*background-image: url("bk-poke.png");*/
    border-radius: 20px;
    box-shadow: -2px 2px 3px 2px #000000;
    list-style: none;
    padding: 30px;
    background-color: #77AFCB;
    color: #222;
    text-align: center;
    cursor: pointer;
    border: 5px solid white;
    border-radius: 50px;
    max-width: 350px;
}


.card:hover {
    background-color: #c7cbce;
    transform: scale(1.03);
    position: relative;
    z-index:1;
}

.card-solo {
    border-radius: 20px;
    box-shadow: -2px 2px 3px 2px #000000;
    list-style: none;
    padding: 30px;
    background-color: #c7cbce;
    color: #222;
    text-align: center;
    border: 5px solid white;
    border-radius: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card-image, .card-image-solo{
    height: 180px;
    width: 250px;
}

.card-title {
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 20px;
    color: white;
    font-size: 25px;
    text-shadow: -2px 1px 4px #000000;
}


.card-subtitle {
    font-size: 20px;
    text-align: center;
    color: rgb(43, 43, 43);
}

.card-subtitle p{
    margin: 10px 5px 0px 0px;
}

.card-subtitle-solo {
    text-align: center;
    color: rgb(20, 20, 20);
    text-shadow: -1px 0px 2px #363636;
    font-size: 22px;
    margin-bottom: 10px;
}

.card-subtitle-solo::first-letter {
    text-transform: uppercase;
}

.status-color{
    text-transform: lowercase;
    color: white;
    text-shadow: -2px 1px 4px #000000;
}

.margin-card {
    margin-top: 40px;
}

.voltar {
   width: 120px;;
}

.voltar:hover{
    transform: scale(1.03);
}


.logo4{
    width: 360px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo5{
    width: 500px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}


