* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Krona One', sans-serif;
	font-weight: 500;
	font-size: 18px;
}

/*Configurações da barra inicial */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100%;
	background: #8B0000;
	border-bottom: 15px solid #000000;
	position: fixed; /*Nav fixada*/
	top: 0;
	box-shadow: 0px 2px 2px black;
}

main {
	padding-top: 150px;
}

.logo {
	width: 200px;
	padding: 0 50px;
}

.logo2{
	width: 200px;
	padding: 0 50px;
	cursor: pointer;
}

.logo3 {
	width: 150px;
}

nav ul {
	float: right;
	margin-right: 10px;
}

nav li {
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
	padding: 0px 10px;
	vertical-align: middle; /* alinhar meio */
}

nav a {
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	padding: 0 0 2px 0; /*espaço para a borda */
	text-shadow: 2px 2.5px #000000;
}

nav a:hover {
	border-bottom: 2px solid white;
	transition: .5s;
}

.barra-inicio {
	list-style: none;
}

.barra-inicio li a {
	transition: all 0.3s ease 0s;
}

.barra-inicio li a:hover{
	color: gray;
}

.busca {
	padding: 9px 25px;
	border: 3px solid white;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 5px;
	font-family: 'Krona One', sans-serif;
	font-weight: 100;
	font-size: 15px;
	text-transform: uppercase;
	background: #56C4C1;
	box-shadow: -3px 3px 2px 2px #000000;
}

.busca:hover {
	font-weight: 700;
}

.enviar {
	padding: 9px 10px;
	border: 1.95px solid black;
	border-radius: 30px;
	cursor: pointer;
	margin-right: 5px;
	font-family: 'Krona One', sans-serif;
	font-weight: 100;
	font-size: 15px;
	background: #BE1818;
	box-shadow: -2px 1px 2px 2px #000000;
}
.enviar:hover {
	background: gray;
	transform: scale(1.1);
}

.botao-fake {
	padding: 9px 10px;
	border: 1.95px solid black;
	border-radius: 30px;
	cursor: pointer;
	margin-right: 5px;
	font-weight: 100;
	font-size: 15px;
	pointer-events: none;
  	cursor: not-allowed;
  	color: transparent;
  	box-shadow: -2px 1px 2px 2px #000000;
}

.amarelo {
	background: #EAE429;
}

.verde {
	background: #2FA21F;
}

footer {
	height: 200px;
	width: 100%;
	background: #8B0000;
	border-top: 15px solid #000000;

}

form {
	margin-right: 20px;
	padding: 10px;
}

.rodape {
	display: flex;
	justify-content: space-between;
}

.rodape-list {
	display: flex;
	align-items: center;
}

.logo-rodape {
	border-right: 3px solid #000000;
}

